PersonalCare/pipeline/Dataset_Notebook.json
{
	"name": "Dataset_Notebook",
	"properties": {
		"activities": [
			{
				"name": "Pipelines",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set current execution",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[[edw_metadata].[get_pipelines]",
						"storedProcedureParameters": {
							"table_identifier_id": {
								"type": "Int64",
								"value": {
									"value": "@pipeline().parameters.table_identifier_id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Pipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Pipelines').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "run_activities",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set pipeline running",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Activities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set pipeline running",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[[edw_metadata].[set_pipeline_running]",
								"storedProcedureParameters": {
									"pipeline_id": {
										"value": {
											"value": "@item().pipeline_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"table_identifier_id": {
										"value": {
											"value": "@item().table_identifier_id",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							}
						},
						{
							"name": "Set pipeline success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "run_activities",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[[edw_metadata].[set_pipeline_success]",
								"storedProcedureParameters": {
									"pipeline_id": {
										"value": {
											"value": "@item().pipeline_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"table_identifier_id": {
										"value": {
											"value": "@item().table_identifier_id",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							}
						},
						{
							"name": "Set pipeline failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "run_activities",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[[edw_metadata].[set_pipeline_failed]",
								"storedProcedureParameters": {
									"pipeline_id": {
										"value": {
											"value": "@item().pipeline_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"table_identifier_id": {
										"value": {
											"value": "@item().table_identifier_id",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Update_execution_log_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[[edw_metadata].[update_execution_log]",
					"storedProcedureParameters": {
						"datafactory_name": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_time": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_trigger_type": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Metadata integrity checks",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureParameters": {
						"table_identifier_id": {
							"value": {
								"value": "@pipeline().parameters.table_identifier_id",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set current execution",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Metadata integrity checks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[[edw_metadata].[set_current_execution]",
					"storedProcedureParameters": {
						"restart": {
							"value": {
								"value": "@pipeline().parameters.restart",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"table_identifier_id": {
							"value": {
								"value": "@pipeline().parameters.table_identifier_id",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				}
			},
			{
				"name": "Remove from current execution",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update_execution_log_success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[[edw_metadata].[remove_current_execution_on_success]",
					"storedProcedureParameters": {
						"table_identifier_id": {
							"value": {
								"value": "@pipeline().parameters.table_identifier_id",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				}
			}
		],
		"parameters": {
			"table_identifier_id": {
				"type": "string"
			},
			"restart": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-26T13:51:26Z"
	},
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureSqlDatabase1": {
			"type": "string"
		},
		"AzureDatabricks": {
			"type": "string"
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}