PersonalCare/pipeline/LandingToStg.json
{
	"name": "LandingToStg",
	"properties": {
		"activities": [
			{
				"name": "Landing to stage",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kavithabalasubramaniyan01@gmail.com/fn_landing_to_stage_1",
					"baseParameters": {
						"data_file_name": {
							"value": "lv_pc_1.edw_stg.sales_details",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"data_file_name": {
				"type": "String",
				"defaultValue": "lv_pc_1.edw_stg.sales_details"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-26T13:51:25Z"
	},
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureDatabricks": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LandingToStg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Landing to stage",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/ETL_Framework/LandingtoStage/fn_landing_to_stage",
							"baseParameters": {
								"data_file_name": {
									"value": "@pipeline().parameters.parameter",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureDatabricks')]",
							"type": "LinkedServiceReference",
							"parameters": {
								"cluster_id": {
									"value": "@pipeline().parameters.cluster_id",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "PageRunURL",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Landing to stage",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "runPageURL",
									"value": {
										"type": "Expression",
										"content": "@activity('Landing to stage').output.runPageUrl"
									}
								}
							],
							"setSystemVariable": true
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Landing to stage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Failure occured in Landing to stage",
							"errorCode": "NA"
						}
					}
				],
				"parameters": {
					"cluster_id": {
						"type": "String"
					},
					"parameter": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-26T13:51:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		}
	]
}