PersonalCare/pipeline/pipelines.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureSqlDatabase1":{"type":"string"},"AzureDatabricks":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/pipelines')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Pipelines","type":"Lookup","dependsOn":[{"activity":"Set current execution","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_pipelines]","storedProcedureParameters":{"table_identifier_id":{"type":"Int64","value":{"value":"@pipeline().parameters.table_identifier_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"current_execution","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Pipelines","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Pipelines').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"run_activities","type":"ExecutePipeline","dependsOn":[{"activity":"Set pipeline running","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"activities","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"pipeline_id":{"value":"@item().pipeline_id","type":"Expression"},"table_identifier_id":{"value":"@pipeline().parameters.table_identifier_id","type":"Expression"}}}},{"name":"Set pipeline running","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_pipeline_running]","storedProcedureParameters":{"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set pipeline success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"run_activities","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_pipeline_success]","storedProcedureParameters":{"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set pipeline failure","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"run_activities","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_pipeline_failed]","storedProcedureParameters":{"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}}]}},{"name":"Update_execution_log_success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"ForEach1","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[update_execution_log]","storedProcedureParameters":{"datafactory_name":{"value":{"value":"@pipeline().DataFactory","type":"Expression"},"type":"String"},"pipeline_run_id":{"value":{"value":"@pipeline().RunId","type":"Expression"},"type":"String"},"pipeline_trigger_time":{"value":{"value":"@pipeline().TriggerTime","type":"Expression"},"type":"String"},"pipeline_trigger_type":{"value":{"value":"@pipeline().TriggerType","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Metadata integrity checks","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[integrity_checks]","storedProcedureParameters":{"table_identifier_id":{"value":{"value":"@pipeline().parameters.table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set current execution","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Metadata integrity checks","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_current_execution]","storedProcedureParameters":{"restart":{"value":{"value":"@pipeline().parameters.restart","type":"Expression"},"type":"Int32"},"table_identifier_id":{"value":{"value":"@pipeline().parameters.table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Remove from current execution","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Update_execution_log_success","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[remove_current_execution_on_success]","storedProcedureParameters":{"table_identifier_id":{"value":{"value":"@pipeline().parameters.table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"table_identifier_id":{"type":"string"},"restart":{"type":"string","defaultValue":"0"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:26Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/current_execution')]","[concat(variables('factoryId'), '/pipelines/activities')]"]},{"name":"[concat(parameters('factoryName'), '/current_execution')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"pipeline_id","type":"int","precision":10},{"name":"pipeline_name","type":"varchar"},{"name":"master_pipeline_id","type":"int","precision":10},{"name":"master_pipeline_name","type":"varchar"},{"name":"table_identifier_name","type":"varchar"},{"name":"table_identifier_id","type":"bigint","precision":19},{"name":"activity_id","type":"int","precision":10},{"name":"activity_name","type":"varchar"},{"name":"parameters","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"current_execution"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/activities')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"get_activities","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_activities]","storedProcedureParameters":{"pipeline_id":{"type":"Int32","value":{"value":"@pipeline().parameters.pipeline_id","type":"Expression"}},"table_identifier_id":{"type":"Int64","value":{"value":"@pipeline().parameters.table_identifier_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"current_execution","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"get_activities","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('get_activities').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"Set Activity Running","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_running]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Switch1","type":"Switch","dependsOn":[{"activity":"Set Activity Running","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"on":{"value":"@string(item().master_pipeline_id)","type":"Expression"},"cases":[{"value":"1","activities":[{"name":"LandingToStage activity","type":"ExecutePipeline","dependsOn":[{"activity":"get cluster id","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"LandingToStg","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"cluster_id":{"value":"@activity('get cluster id').output.firstRow.cluster_id","type":"Expression"},"parameter":{"value":"@split(item().parameters, '->')[1]","type":"Expression"}}}},{"name":"Set Activity landing_to_stg success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LandingToStage activity","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_success]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('LandingToStage activity').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set Activity landing_to_stg Failed","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"LandingToStage activity","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_failed]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('LandingToStage activity').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"LandingToStage activity","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"landing to stage Failed","errorCode":"000"}},{"name":"get cluster id","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_cluster_id]","storedProcedureParameters":{"db_config_id":{"type":"Int32","value":{"value":"@item().db_config_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"databricks_config","type":"DatasetReference","parameters":{}}}}]},{"value":"2","activities":[{"name":"Clean","type":"ExecutePipeline","dependsOn":[{"activity":"get cluster id - rbc","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"RBC","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"cluster_id":{"value":"@activity('get cluster id - rbc').output.firstRow.cluster_id","type":"Expression"},"parameter":{"value":"@split(item().parameters, '->')[1]","type":"Expression"}}}},{"name":"Set Activity clean success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Clean","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_success]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('Clean').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set Activity clean Failed","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Clean","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_failed]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('Clean').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Fail_clean","type":"Fail","dependsOn":[{"activity":"Clean","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"RBC activity Failed","errorCode":"NA"}},{"name":"get cluster id - rbc","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_cluster_id]","storedProcedureParameters":{"db_config_id":{"type":"Int32","value":{"value":"@item().db_config_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"databricks_config","type":"DatasetReference","parameters":{}}}}]},{"value":"3","activities":[{"name":"Dedup","type":"ExecutePipeline","dependsOn":[{"activity":"get cluster id - dedup","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"dedup","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"cluster_id":{"value":"@activity('get cluster id - dedup').output.firstRow.cluster_id","type":"Expression"},"parameter":{"value":"@split(item().parameters, '->')[1]","type":"Expression"}}}},{"name":"Set Activity dedup success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Dedup","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_success]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('Dedup').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set Activity dedup Failed","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Dedup","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_failed]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('Dedup').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"get cluster id - dedup","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_cluster_id]","storedProcedureParameters":{"db_config_id":{"type":"Int32","value":{"value":"@item().db_config_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"databricks_config","type":"DatasetReference","parameters":{}}}},{"name":"Fail2","type":"Fail","dependsOn":[{"activity":"Dedup","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Dedup failed","errorCode":"0000"}}]},{"value":"4","activities":[{"name":"transformation","type":"ExecutePipeline","dependsOn":[{"activity":"get cluster id - transformation","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Transformation","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"cluster_id":{"value":"@activity('get cluster id - transformation').output.firstRow.cluster_id","type":"Expression"},"parameter":{"value":"@split(item().parameters, '->')[1]","type":"Expression"}}}},{"name":"Set Activity transformation success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"transformation","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_success]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('transformation').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set Activity transformation Failed","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"transformation","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_failed]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('transformation').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Fail_transformation","type":"Fail","dependsOn":[{"activity":"transformation","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"transformation activity Failed","errorCode":"NA"}},{"name":"get cluster id - transformation","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_cluster_id]","storedProcedureParameters":{"db_config_id":{"type":"Int32","value":{"value":"@item().db_config_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"databricks_config","type":"DatasetReference","parameters":{}}}}]},{"value":"5","activities":[{"name":"target","type":"ExecutePipeline","dependsOn":[{"activity":"get cluster id - target","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"WrkToTgt","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"cluster_id":{"value":"@activity('get cluster id - target').output.firstRow.cluster_id","type":"Expression"},"parameter":{"value":"@split(item().parameters, '->')[1]","type":"Expression"}}}},{"name":"Set Activity target success","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"target","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_success]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('target').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Set Activity target Failed","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"target","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[edw_metadata].[set_activity_failed]","storedProcedureParameters":{"activity_id":{"value":{"value":"@item().activity_id","type":"Expression"},"type":"Int64"},"activity_info":{"value":{"value":"@activity('target').output.pipelineReturnValue.runPageURL","type":"Expression"},"type":"String"},"pipeline_id":{"value":{"value":"@item().pipeline_id","type":"Expression"},"type":"Int64"},"table_identifier_id":{"value":{"value":"@item().table_identifier_id","type":"Expression"},"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"}},{"name":"Fail_target","type":"Fail","dependsOn":[{"activity":"target","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"transformation activity Failed","errorCode":"NA"}},{"name":"get cluster id - target","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[edw_metadata].[get_cluster_id]","storedProcedureParameters":{"db_config_id":{"type":"Int32","value":{"value":"@item().db_config_id","type":"Expression"}}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"databricks_config","type":"DatasetReference","parameters":{}}}}]}]}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"pipeline_id":{"type":"string"},"table_identifier_id":{"type":"string"}},"variables":{"error":{"type":"String"},"test":{"type":"String"}},"annotations":[],"lastPublishTime":"2023-09-28T17:20:48Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/current_execution')]","[concat(variables('factoryId'), '/pipelines/LandingToStg')]","[concat(variables('factoryId'), '/datasets/databricks_config')]","[concat(variables('factoryId'), '/pipelines/RBC')]","[concat(variables('factoryId'), '/pipelines/dedup')]","[concat(variables('factoryId'), '/pipelines/Transformation')]","[concat(variables('factoryId'), '/pipelines/WrkToTgt')]"]},{"name":"[concat(parameters('factoryName'), '/LandingToStg')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Landing to stage","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/ETL_Framework/LandingtoStage/fn_landing_to_stage","baseParameters":{"data_file_name":{"value":"@pipeline().parameters.parameter","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference","parameters":{"cluster_id":{"value":"@pipeline().parameters.cluster_id","type":"Expression"}}}},{"name":"PageRunURL","type":"SetVariable","dependsOn":[{"activity":"Landing to stage","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"pipelineReturnValue","value":[{"key":"runPageURL","value":{"type":"Expression","content":"@activity('Landing to stage').output.runPageUrl"}}],"setSystemVariable":true}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"Landing to stage","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Failure occured in Landing to stage","errorCode":"NA"}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"cluster_id":{"type":"String"},"parameter":{"type":"string"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:25Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/databricks_config')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"db_config_id","type":"int","precision":10},{"name":"cluster_name","type":"varchar"},{"name":"cluster_id","type":"varchar"}],"typeProperties":{"schema":"edw_metadata","table":"DATABRICKS_CONFIG"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/RBC')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"clean","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/ETL_Framework/clean/rbc","baseParameters":{"StageTable":{"value":"@pipeline().parameters.parameter","type":"Expression"},"process date":{"value":"@utcNow('yyyy-MM-dd')","type":"Expression"},"process_dt":{"value":"@utcNow('yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference","parameters":{"cluster_id":{"value":"@pipeline().parameters.cluster_id","type":"Expression"}}}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"clean","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"RBC activity failed","errorCode":"NA"}},{"name":"runPageURL","type":"SetVariable","dependsOn":[{"activity":"clean","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"pipelineReturnValue","value":[{"key":"runPageURL","value":{"type":"Expression","content":"@activity('clean').output.runPageURL"}}],"setSystemVariable":true}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"cluster_id":{"type":"String"},"parameter":{"type":"string"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:25Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/dedup')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"dedup","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/ETL_Framework/dedup/Dedup","baseParameters":{"table_list":{"value":"@pipeline().parameters.parameter","type":"Expression"},"process_dt":{"value":"@utcNow('yyyy-MM-dd')","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference","parameters":{"cluster_id":{"value":"@pipeline().parameters.cluster_id","type":"Expression"}}}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"dedup","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Dedup failed","errorCode":"NA"}},{"name":"runPageURL","type":"SetVariable","dependsOn":[{"activity":"dedup","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"pipelineReturnValue","value":[{"key":"runPageURL","value":{"type":"Expression","content":"@activity('dedup').output.runPageURL"}}],"setSystemVariable":true}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"cluster_id":{"type":"String"},"parameter":{"type":"string"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:25Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Transformation')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"transformation","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/ETL_Framework/Transform/Transformation","baseParameters":{"chosen_identifier":{"value":"@pipeline().parameters.parameter","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference","parameters":{"cluster_id":{"value":"@pipeline().parameters.cluster_id","type":"Expression"}}}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"transformation","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"Transformation failed","errorCode":"NA"}},{"name":"runPageURL","type":"SetVariable","dependsOn":[{"activity":"transformation","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"pipelineReturnValue","value":[{"key":"runPageURL","value":{"type":"Expression","content":"@activity('transformation').output.runPageURL"}}],"setSystemVariable":true}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"cluster_id":{"type":"String"},"parameter":{"type":"string"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:25Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/WrkToTgt')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"work to tgt","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/ETL_Framework/WorkToTarget/WorkToTarget","baseParameters":{"config_id":{"value":"@pipeline().parameters.parameter","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference","parameters":{"cluster_id":{"value":"@pipeline().parameters.cluster_id","type":"Expression"}}}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"work to tgt","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"WorkToTgt failed","errorCode":"NA"}},{"name":"runPageURL","type":"SetVariable","dependsOn":[{"activity":"work to tgt","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"pipelineReturnValue","value":[{"key":"runPageURL","value":{"type":"Expression","content":"@activity('work to tgt').output.runPageURL"}}],"setSystemVariable":true}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"cluster_id":{"type":"String"},"parameter":{"type":"string"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:25Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/default')]","type":"Microsoft.DataFactory/factories/managedVirtualNetworks","apiVersion":"2018-06-01","properties":{},"dependsOn":[]}]}