PersonalCare/pipeline/Transformation.json
{
	"name": "Transformation",
	"properties": {
		"activities": [
			{
				"name": "transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/ETL_Framework/Transform/Transformation",
					"baseParameters": {
						"chosen_identifier": {
							"value": "@pipeline().parameters.parameter",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "transformation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Transformation failed",
					"errorCode": "NA"
				}
			},
			{
				"name": "runPageURL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "runPageURL",
							"value": {
								"type": "Expression",
								"content": "@activity('transformation').output.runPageURL"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"cluster_id": {
				"type": "String"
			},
			"parameter": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-26T13:51:25Z"
	},
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"AzureDatabricks": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Transformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Shared/ETL_Framework/Transform/Transformation",
							"baseParameters": {
								"chosen_identifier": {
									"value": "@pipeline().parameters.parameter",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "[parameters('AzureDatabricks')]",
							"type": "LinkedServiceReference",
							"parameters": {
								"cluster_id": {
									"value": "@pipeline().parameters.cluster_id",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "transformation",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Transformation failed",
							"errorCode": "NA"
						}
					},
					{
						"name": "runPageURL",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "transformation",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "runPageURL",
									"value": {
										"type": "Expression",
										"content": "@activity('transformation').output.runPageURL"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"parameters": {
					"cluster_id": {
						"type": "String"
					},
					"parameter": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-26T13:51:25Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		}
	]
}