PersonalCare/pipeline/WrkToTgt.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/WrkToTgt.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/WrkToTgt')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"work to tgt","type":"DatabricksNotebook","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Shared/ETL_Framework/WorkToTarget/WorkToTarget","baseParameters":{"config_id":{"value":"@pipeline().parameters.parameter","type":"Expression"}}},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks')]","type":"LinkedServiceReference","parameters":{"cluster_id":{"value":"@pipeline().parameters.cluster_id","type":"Expression"}}}},{"name":"Fail1","type":"Fail","dependsOn":[{"activity":"work to tgt","dependencyConditions":["Failed"]}],"userProperties":[],"typeProperties":{"message":"WorkToTgt failed","errorCode":"NA"}},{"name":"runPageURL","type":"SetVariable","dependsOn":[{"activity":"work to tgt","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"pipelineReturnValue","value":[{"key":"runPageURL","value":{"type":"Expression","content":"@activity('work to tgt').output.runPageURL"}}],"setSystemVariable":true}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"cluster_id":{"type":"String"},"parameter":{"type":"string"}},"annotations":[],"lastPublishTime":"2023-09-26T13:51:25Z"},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/default')]","type":"Microsoft.DataFactory/factories/managedVirtualNetworks","apiVersion":"2018-06-01","properties":{},"dependsOn":[]}]}
